# Lab | Data Structuring and Combining Data

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

## Alternative - Bonus

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files, and work with your clean files instead:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [5]:
import pandas as pd

url_file1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url_file2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv"
url_file3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv"

df_file1 = pd.read_csv(url_file1)
df_file2 = pd.read_csv(url_file2)
df_file3 = pd.read_csv(url_file3)

print("DataFrame 1:")
print(df_file1.head())

print("\nDataFrame 2:")
print(df_file2.head())

print("\nDataFrame 3:")
print(df_file3.head())

customer_data = [['df_file1', 'df_file2', 'df_file3']]

print(customer_data)

DataFrame 1:
  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

DataFrame 2:
  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

DataFrame 3:
  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
[['df_file1', 'df_file2', 'df_file3']]

In [ ]:
customer_data = pd.concat([df_file1, df_file2, df_file3], ignore_index=True)

print("\nCombined DataFrame:")
print(customer_data.head())
print(customer_data.shape)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
df_pivot = df_pivot.reindex(df_pivot.sort_values(by='customer_lifetime_value', ascending=False).index)
Maybe try this Philipp to sort the pivot table

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here

In [ ]:
Activities List
Important: for Activity 3 and Activity 4 , please use the file Data_Marketing_Customer_Analysis_Round3.csv from the Data folder.

Activity 3 (Wednesday)
As a reminder the objective of this study is to predict the total claim amount of a customer and study/investigate the impact of the factors (input features) on the target variable(total claim amount). That means in your exploratory data analysis, you have to look for patterns in this data that show interesting relationships among the input features as well as with relation to the target feature.

Get the numeric data into a dataframe called numerical and categorical columns in a dataframe called categorical. (You can use "np.number" and "object" to select the numerical data types and categorical data types respectively)
Now we will try to check the normality of the numerical variables visually
Use the Seaborn library to construct distribution plots for the numerical variables
Use the Matplotlib library to construct histograms.
Do the distributions for different numerical variables look like a normal distribution?
For the numerical variables, check for correlation between the input features. Note: this does not include the target feature.
Plot the Correlation Heatmap.
(Optional): Drop one of the two features that show a high correlation between them (greater than 0.9). If there is no pair of features that have a high correlation, then do not drop any features.
Activity 4 (Thursday)
Show a plot of the total number of responses.
Show a plot of the response by the sales channel.
Show a plot of the response by the total claim amount.
Show a plot of the response by income.
(Optional) plot any interesting findings/insights(minimum three) that describe some interesting facts about your data set and its input variables as well as relationships with the target feature.
Clean your notebook and make it readable and presentable with a good documentation that summarizes the Data Cleaning, Exploration(including plots), Steps that you have performed.

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load the data
data_path = "Data_Marketing_Customer_Analysis_Round3.csv"
df = pd.read_csv(data_path)

print("DataFrame_:")
print(df.head())

DataFrame_:
        region  customer_lifetime_value response  coverage education  \
0      central                     4809       no     basic   college
1  west region                     2228       no     basic   college
2         east                    14947       no     basic  bachelor
3   north west                    22332      yes  extended   college
4   north west                     9025       no   premium  bachelor

  effective_to_date month employment_status gender  income  ...  \
0           2/18/11   feb          employed      m   48029  ...
1           1/18/11   jan        unemployed      f   92260  ...
2           2/10/11   feb          employed      m   22139  ...
3           1/11/11   jan          employed      m   49078  ...
4           1/17/11   jan     medical leave      f   23675  ...

  months_since_policy_inception number_of_open_complaints  number_of_policies  \
0                            52                         0                   9
1                            26                         0                   1
2                            31                         0                   2
3                             3                         0                   2
4                            31                         0                   7

      policy_type        policy  renew_offer_type  sales_channel  \
0  corporate auto  corporate l3            offer3          agent
1   personal auto   personal l3            offer4    call center
2   personal auto   personal l3            offer3    call center
3  corporate auto  corporate l3            offer2         branch
4   personal auto   personal l2            offer1         branch

  total_claim_amount  vehicle_class vehicle_size
0                292  four-door car      medsize
1                744  four-door car      medsize
2                480            suv      medsize
3                484  four-door car      medsize
4                707  four-door car      medsize

[5 rows x 24 columns]